<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.2/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="ai-media-search">
			<directory suffix=".php">tests</directory>
			<exclude>tests/bootstrap.php</exclude>
			<exclude>tests/includes</exclude>
			<exclude>tests/wp-tests-config.php</exclude>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">includes</directory>
			<file>ai-media-search.php</file>
		</include>
	</coverage>
</phpunit>
